{% extends "master.html" %}

{% block title %}
List of all expenses
{% endblock %}

{% block content %}
<div class="mycard">
<table>
	<thead>
		<th>Item</th>
		<th>Cost</th>
		<th>Bought by</th>
		<th>Date</th>
		<th>Details</th>
	</thead>
	<tbody>
	{% for x in expenses %}
	<tr>
		<td>{{ x.item }}</td>
		<td>{{ item.cost }}</td>
		<td>{{ x.user_name }}</td>
		<td>{{ x.created_at|date:"F j" }}</td>
		<td><a href="details/{{ x.id }}">Details</a></td>
	</tr>
	{% endfor %}
	</tbody>
</table>
</div>
<div class="mycard">
	<form method="post">{% csrf_token %}
		<fieldset>
			<legend>Enter your expense</legend>
			<p>
			<label for="item">Item</label>
			<input type="text" id="item" name="item" required />
			</p>
			<p>
			<label for="cost">Cost</label>
			<input type="number" id="cost" name="cost" step="0.1" required />
			</p>
			<p>
			<label for="userName">Who Are You?</label>
			<input type="text" id="userName" name="userName" autocomplete="off" />
			</p>
		</fieldset>
		<p>
		<button type="submit">Add Expense</button>
		</p>
	</form>
</div>
{% endblock %}
