{% extends "main.html" %}
{% load tz %}

{% block title %}
Details about {{ expense.item }}
{% endblock %}

{% block content %}
<div class="mycard">
	<h1>{{ expense.item }}</h1>
	<p><a href={% url 'expense_edit' expense.id %}>Edit</a></p>
	<p>Cost: ${{ expense.cost }}</p>
	<p>Bought by: {{ payer.first_name }}</p>
	<p>Submitted by: {{ submitter.first_name }}</p>
	<p>Created: {{ expense.created_at|timezone:"America/Los_Angeles" }} PT</p>
	<p>Updated: {{ expense.updated_at|timezone:"America/Los_Angeles" }} PT</p>
	{% if expense.receipt_photo %}
	<picture>
		<source srcset="{{ expense.receipt_photo.url }}">
		<img src="{{ expense.receipt_photo.url }}" alt=" Receipt photo image" style="width:400px;">
	</picture>
	{% endif %}
</div>
{% endblock %}
