<form method="post" {% if expense %} action="{% url 'expense_edit' expense.id %}" {% else %}
	action="{% url 'expenses' %}" {% endif %}>
	{% csrf_token %}
	<fieldset>
		<legend>Edit expense</legend>
		<p>
			<label for="item">Item</label>
			<input type="text" id="item" name="item" value="{{ expense.item|default:'' }}" required />
		</p>
		<p>
			<label for="cost">Cost</label>
			{# TODO: display 2 decimal places if they exist #}
			<input type="number" id="cost" name="cost" step="0.01" value="{{ expense.cost|default:'' }}" required />
		</p>
		<p>
			<label for="description">Description</label>
			<input type="text" id="description" name="description" value="{{ expense.description|default:'' }}" />
		</p>
		<p>
			<label for="user-name-select">Who paid?</label>
			<select id="user-name-select" name="user-id" autocomplete="off" required />
			{% for user in users %}
			<option value={{ user.id }}>{{ user.first_name }}</option>
			{% endfor %}
			</select>
		</p>
		<p>
			<button type="submit">Update Expense</button>
		</p>
	</fieldset>
</form>
