<form method="post">
	{% csrf_token %}
	<fieldset>
		<legend>Enter expense</legend>
		<p>
			<label for="item">Item</label>
			<input type="text" id="item" name="item" required />
		</p>
		<p>
			<label for="cost">Cost</label>
			<input type="number" id="cost" name="cost" step="0.01" required />
		</p>
		<p>
			<label for="description">Description</label>
			<input type="text" id="description" name="description" />
		</p>
		<p>
			<label for="user-name-select">Who paid?</label>
			<select id="user-name-select" name="user-id" autocomplete="off" required />
			{% for user in users %}
			<option value={{ user.id }}>{{ user.first_name }}</option>
			{% endfor %}
			</select>
		</p>
		<p>
			<button type="submit">Add Expense</button>
		</p>
	</fieldset>
</form>
