{% load tz %}
<table>
	<tbody>
		{% for x in expenses %}
		<tr>
			{% with date=x.created_at|timezone:"America/Los_Angeles" %}
			<td class="created-cell">{{ date|date:"M" }}<br>{{ date|date:"j" }}</td>
			<td class="item-cell"><a href="{% url 'expense_details' x.id %}">{{ x.item|truncatechars:20 }}</a></td>
			{% endwith %}
			<td class="payer-cell">{{ x.payer.first_name }}</td>
			<td class="cost-cell">{{ x.cost|floatformat:"-2g" }}</td>
			{% if include_group %}
			<td>{{ x.group.name }}</td>
			{% endif %}
		</tr>
		{% endfor %}
	</tbody>
</table>
