{% load static %}
<!DOCTYPE html>
<html>

<head>
	<title>{% block title %}{% endblock %}</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href={% static "global.css" %} />
	<link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
	<link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
	<link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
	<link rel="manifest" href="{% static 'site.webmanifest' %}">
	<link rel="mask-icon" href="{% static 'safari-pinned-tab.svg' %}" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="theme-color" content="#ffffff">
</head>

<body>
	<div class="topnav">
		<div>
			<h1><a href="{% url 'expenses' %}">Splootwyze</a></h1>
		</div>
		<div>
			<p><a href="{% url 'expenses' %}">Expenses</a></p> |
			<p><a href="{% url 'users' %}">Users</a></p> |

			{% if user.is_authenticated %}
			<p>Welcome, {{ user.first_name }}</p> |
			<form name="logout_form" action="{% url 'logout' %}" method="post">
				{% csrf_token %}
				<input type="hidden" name="perform_logout" value="1">
				<input type="submit" value="Logout" id="perform_logout_button">
			</form>
			{% else %}
			<a href="{% url 'login' %}">LOGIN</a>
			{% endif %}
		</div>
	</div>


	{% block content %}
	{% endblock %}

</body>

</html>
