{% load static %}
<!DOCTYPE html>
<html>

<head>
	<title>{% block title %}{% endblock %}</title>
	<!-- <link rel="stylesheet" href={% static "global.css" %}/> -->
	<link rel="shortcut icon" href={% static "favicon.ico" %} />
</head>

<body>
	<div class="topnav">
		<a href="{% url 'main' %}">HOME</a> |
		<a href="{% url 'expenses' %}">EXPENSES</a> |
		<a href="{% url 'users' %}">USERS</a> |
		<a href="{% url 'login' %}">LOGIN</a> |
	</div>


	{% block content %}
	{% endblock %}

</body>

</html>
