{% load static %}
<!DOCTYPE html>
<html>

<head>
	<title>{% block title %}{% endblock %}</title>
	<!-- <link rel="stylesheet" href={% static "global.css" %}/> -->
	<link rel="shortcut icon" href={% static "favicon.ico" %} />
</head>

<body>
	<div class="topnav">
		<a href="{% url 'main' %}">HOME</a> |
		<a href="{% url 'expenses' %}">EXPENSES</a> |
		<a href="{% url 'users' %}">USERS</a> |
		{% if user.is_authenticated %}
		Welcome, {{ user.first_name }} |
		<form name="logout_form" action="{% url 'logout' %}" method="post">
			{% csrf_token %}
			<input type="hidden" name="perform_logout" value="1">
			<input type="submit" value="Logout" id="perform_logout_button">
			<a href="#" style="display:none;" id="logout_link">Logout</a>
		</form> |
		{% else %}
		<a href="{% url 'login' %}">LOGIN</a> |
		{% endif %}
	</div>


	{% block content %}
	{% endblock %}

</body>

</html>
