[Unit]
Description=gunicorn socket

[Socket]
ListenStream=/run/splootwyze.sock
# Our service won't need permissions for the socket, since it
# inherits the file descriptor by socket activation.
# Only the caddy daemon will need access to the socket:
SocketUser=caddy
SocketGroup=caddy
# Once the user/group is correct, restrict the permissions:
SocketMode=0660

[Install]
WantedBy=sockets.target
